# Tutorial de Machine Learning - Como criar um modelo em python usando pandas e scikit-learn

In [1]:
import numpy as np
import pandas as pd

1. Treino
2. Validação
3. Teste

In [5]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

def transformar_sexo(valor):
    if valor == 'female':
        return 1
    else:
        return 0
    
variaveis = ['Sex_binario', 'Age']

train['Sex_binario'] = train['Sex'].map(transformar_sexo)
test['Sex_binario'] = train['Sex'].map(transformar_sexo)

x = train[variaveis].fillna(-1)
y = train['Survived']

In [6]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [7]:
#criando o primeira solução de machine learning.

from sklearn.ensemble import RandomForestClassifier   
from sklearn.model_selection import train_test_split

In [7]:
?train_test_split

In [10]:
x_falso = np.arange(10)
x_falso

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [11]:
#controla a aletoriedade
np.random.seed(0)

train_test_split(x_falso, test_size=0.5 )

[array([6, 7, 3, 0, 5]), array([2, 8, 4, 9, 1])]

In [12]:
np.random.seed(1)
x_treino, x_valid, y_treino, y_valid = train_test_split(x,y, test_size=0.5)

In [13]:
x_treino.head()

     Sex_binario    Age
394            1  24.00
851            0  74.00
373            0  22.00
523            1  44.00
78             0   0.83

In [14]:
x_treino.shape, x_valid.shape, y_treino.shape, y_valid.shape

((445, 2), (446, 2), (445,), (446,))

In [16]:
modelo = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)

In [17]:
modelo.fit(x_treino, y_treino)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [18]:
p = modelo.predict(x_valid)

In [19]:
np.mean(y_valid == p)

0.7466367713004485

In [21]:
p = (x_valid['Sex_binario'] == 1).astype(np.int64)
np.mean(y_valid == p)

0.7623318385650224

In [ ]:
train['Sex'].value_counts()

In [ ]:
train.head()

In [ ]:
x = x.fillna(-1)

In [ ]:
modelo.fit(x, y)

In [ ]:
x_prev = test[variaveis]
x_prev = x_prev.fillna(-1)
x_prev.head()

In [ ]:
p = modelo.predict(x_prev)
p

In [ ]:
test.head()

In [ ]:
test.shape

In [ ]:
sub = pd.Series(p, index=test['PassengerId'], name='Survived')
sub.shape

In [ ]:
sub.to_csv("primeiro_modelo.csv", header=True)

In [ ]:
!head -n10 primeiro_modelo.csv